{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% trans "にじさーちについて" %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <p class="text-center">Sorry, this page is Japanese only!</p>
 
  <h3>にじさーちについて</h3>
  <p>Twitterにはたくさんのイラストが投稿されていますが、Twitterのイラスト検索機能はpixivなどのイラストに特化したサイトと比べると貧弱で、好みのイラストを探すのが難しくなっています。このページはTwitter上のイラスト閲覧に特化したサイトを目指して開発を進めています。</p>
  <ul>
    <li>運営者: <a href="https://twitter.com/kivantium">@kivantium</a></li>
    <li><a href="https://forms.gle/4nuyFsqxqFrKe8Uz9">問い合わせフォーム</a></li>
  </ul>
  <hr>
  <h4>実装済み機能</h4>
  <ul>
    <li>二次元画像の自動収集</li>
    <ul>
      <li>Imagenetでpre-trainされたSqueezenetをイラストかどうかを判定できるようファインチューニングしたモデルを使って二次元画像を自動で収集します。（参考: <a href="https://kivantium.hateblo.jp/entry/2020/04/18/010827">二次元画像判別器の作成に関する基礎検討</a>　<a href="https://kivantium.hateblo.jp/entry/2020/04/25/003218">PyTorchでファインチューニングしたモデルをONNXで利用する</a>）</li>
    </ul>
    <li>自動タグ付け</li>
    <ul>
      <li><a href="https://github.com/rezoo/illustration2vec">Illustration2Vec</a>を用いて収集した画像に自動でタグ付けを行います。</li>
    </ul>
    <li>特定のユーザーが過去に投稿したイラストを表示する
      <ul>
        <li>APIで取得しきれない過去のイラストや、機械学習がイラストだと判定できなかったイラストについては手動で登録できるようにする仕組みをそのうち用意したいです。</li>
      </ul>
    </li>
    <li>キーワードまたはタグによるイラスト検索</li>
      <ul>
        <li>キーワード検索はツイート本文に含まれる単語を検索します</li>
        <li>今のところAND検索には対応していません。スペースは文字列の一部として解釈されます。</li>
      </ul>
    <li>リストからイラストを含むツイートだけを選んで表示（<strong>サーバーに負荷がかかるので現在は提供していません</strong>）</li>
  </ul>
  <h4>実装したい機能</h4>
  <ul>
    <li>いいね履歴を利用したレコメンデーション
      <ul>
        <li>PU Learningが使えそうだと思っています</li>
      </ul>
    </li>
    <li>画像からのキャラ推定
      <ul>
        <li>画像のクラス分類は非常によく研究されているテーマですが、新作が出てくるたびに増えるキャラクターを自動で判定できるようにしたいです</li>
      </ul>
    </li>
    <li>類似画像検索
      <ul>
        <li>Twitter上の画像の分析結果をデータベース化して検索できるようにしたいです。</li>
      </ul>
    </li>
  </ul>
  <hr>
  <h4>よくあるかもしれない疑問とその答え</h4>
  <h5 class="mt-4">無断でツイートを表示してもいいんですか？</h5>
  <p><a href="https://developer.twitter.com/ja/developer-terms/agreement-and-policy">Twitterの開発者利用規約</a> I-Bに基づいてツイートを表示しています。</p>
  <div class="card">
    <div class="card-body">
      <blockquote>
        <p><b>B. Twitterから付与されるライセンス。</b>Twitterは（以下に規定される権利付与の条件として）本契約および<a href="https://developer.twitter.com/ja/developer-terms/policy">開発者ポリシー</a>の規定に従い、以下の目的のためだけに、非独占的、ロイヤルティフリー、譲渡不可、サブライセンス不可、取り消し可能なライセンスを開発者に付与し、開発者はこれを承諾するものとします。</p>
        <ul>
          <li>2. 本契約によって許可されたところに従い、開発者のサービス上および開発者のサービスを通じて、合理的な数量のTwitterコンテンツのコピーを作成し、エンドユーザーに対してコンテンツを表示すること</li>
        </ul>
      </blockquote>
    </div>
  </div>
  <p>Twitterに投稿されたイラストをまとめる類似サービスも規約上問題ないとされています。（<a href="https://nlab.itmedia.co.jp/nl/articles/1808/03/news121.html">「勝手に転載しないで！」イラストまとめサービス「Buhitter」が大炎上 → Twitterは「規約上問題ない」</a>）</p>
  <p>開発者ポリシーには準拠しているつもりですが、至らないところがあったら教えてください。</p>
  <h5 class="mt-4">著作権の侵害ではないですか？</h5>
  <p>このサイトの運営は、<a href="https://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345AC0000000048#387">著作権法第四十七条の五</a>で定められている「検索情報の特定又は所在に関する情報を検索し、及びその結果を提供すること」および「電子計算機による情報解析を行い、及びその結果を提供すること」に該当する行為であるため、軽微利用の範囲で複製若しくは公衆送信を行うことができると考えています。このサイトで行っている情報解析および画像のサムネイル表示は軽微利用の範囲であると解釈しています。</p>
  <p><a href="https://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345M50000080026#71">著作権法施行規則第四条の五</a>に定められた「著作物等の利用を適正に行うために必要な措置」として、当該要件の解釈を記載した書類を閲覧し、連絡先として<a href="https://forms.gle/4nuyFsqxqFrKe8Uz9">問い合わせフォーム</a>を設置しました。</p>
  <h5 class="mt-4">ツイートが見にくいです</h5>
  <p>Twitter APIを利用してツイートを表示する際には<a href="https://developer.twitter.com/en/developer-terms/display-requirements">Display requirements</a>に従うよう定められているのですが、これに準拠するのはとても面倒なのでとりあえずデフォルトの埋め込み機能を使っています。そのうち改善したいです。</p>
</div>
{% endblock %}
