{% extends 'hello/base.html' %}

{% block content %}
<div class="container mt-5">
  <h3>About</h3>
  <p>Twitterにはたくさんのイラストが投稿されていますが、Twitterのイラスト検索機能はPixivなどのイラストに特化したサイトと比べると貧弱で、好みのイラストを探すのが難しくなっています。このページはTwitter上のイラスト閲覧に特化したサイトを目指して開発を進めています。</p>
  <ul>
    <li>運営者: <a href="https://twitter.com/kivantium">@kivantium</a></li>
    <li><a href="https://forms.gle/4nuyFsqxqFrKe8Uz9">ご意見箱</a></li>
  </ul>
  <hr>
  <h4>実装済み機能</h4>
  <ul>
    <li>リストからイラストを含むツイートだけを選んで表示</li>
    <ul>
      <li>Imagenetでpre-trainされたSqueezenetをイラストかどうかを判定できるようファインチューニングしたものを使って選んでいます。<br>（作業ログ: <a href="https://kivantium.hateblo.jp/entry/2020/04/18/010827">二次元画像判別器の作成に関する基礎検討</a>　<a href="https://kivantium.hateblo.jp/entry/2020/04/25/003218">PyTorchでファインチューニングしたモデルをONNXで利用する</a>）</li>
      <li>現在はサーバーサイドで推論を行っていますが、将来的にはTensorflow.jsなどを使ってクライアント側で実行したいと思っています。</li>
      <li>TwitterのAPI制限の関係上ホームタイムラインから読み込めるツイート数が少ないので、お気に入りの絵師を入れたリストを事前に作成しておくことをおすすめします。</li>
    </ul>
    <li>ランキング (&beta;版)</li>
    <ul>
      <li>収集した画像をいいね数順に表示します。近いうちに日付別ランキングなどを表示できるようにしてUIをマシにします。</li>
    </ul>
  </ul>
  <h4>実装したい機能</h4>
  <ul>
    <li>特定のユーザーの過去のツイートからイラストだけを表示する
      <ul>
        <li>「たまたまRTで流れてきた神絵師のアカウントを遡ってみたらソシャゲのガチャ画像ばかりでイラストが全然見つからなかった」のような問題を解決したいです。
        </li>
      </ul>
    </li>
    <li>いいね履歴を利用したレコメンデーション
      <ul>
        <li>PU Learningが使えそうだと思っています</li>
      </ul>
    </li>
    <li>画像からの自動タグ付け
      <ul>
        <li>画像のクラス分類は非常によく研究されているテーマですが、新作が出てくるたびに増えるタグを自動でつけるのは研究課題として面白そうだと思っています</li>
      </ul>
    </li>
    <li>セリフ検索
      <ul>
        <li>画像に写っている文字に対して検索できるようにしたいです。精度の良いOCRが必要になります</li>
      </ul>
    </li>
    <li>タグ検索・類似画像検索
      <ul>
        <li>Twitter上の画像の分析結果をデータベース化して検索できるようにしたいです。</li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
