{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% trans "絵師検索" %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="h4 mt-5">{% trans "絵師検索" %}</h2>
    <form id="name_form">
      <div class="form-group">
        <label for="screen_name">{% trans "アカウント名" %}</label>
        <input type="text" class="form-control" id="screen_name">
        <p class="mt-2">{% trans "@を除いて入力してください（例: @kamieshi→kamieshi）" %}</p>
      </div>
      <button type="submit" class="btn btn-primary">{% trans "検索" %}</button>
    </form>
    <div class="d-none d-md-block my-5">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="horizontal"
           data-ad-client="ca-pub-2828660212063348"
           data-ad-slot="4211442369"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <hr>
    <h3 class="h5 mt-5">{% trans "登録画像数が多い人" %}</h3>
    <ul class="mt-3">
      {% for author in author_list %}
      <li class="my-2"><a href="{% url 'author' author.author_screen_name %}">@{{ author.author_screen_name }}</a>: {{ author.cnt }}{% trans "枚" %}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: 0
  });
  $grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
  });
  $('#show_nsfw').change(function() {
    location.href = "{{ checked_page|safe }}";
  });
  $('#name_form').submit( function() {
    var screen_name = $("#screen_name").val();
    location.href = "/author/" + screen_name;
    return false;
  });
</script>
{% endblock %}
