{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% trans "ラベルの修正" %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<section class="section">
  <div id="app">
    <div class="container mt-5">
      <p>直近24時間に投稿された収集画像をいいね数順に表示しています。</p>
    </div>
    <hr>
    <div class="container">
      <div id="images" class="grid" ref="grid">
        <div class="grid-sizer col-4 col-md-3 col-lg-2"></div>
        {% for entry in image_entry_list %}
            <div class="grid-item col-4 col-md-3 col-lg-2">
              <a href="{% url 'status' entry.status_id %}">
                <img src="{{entry.media_url}}:small">
              </a>
            </div>
        {% endfor %}
      </div>
      {% if next_page %}
      <div class="mx-auto mt-4 alert alert-info">
        <a href="{{next_page}}" class="text-center" style="display:block">次のページ</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: 0
  });
  $grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
  });
</script>
{% endblock %}
