{% extends 'hello/base.html' %}

{% block content %}
<section class="section">
  <div id="app">
    <div class="container">
      <h2 class="h5 mt-5">登録数の多いタグ</h2>
      <ul class="list-inline">
        {% for tag in tag_list %}
        <li class="list-inline-item"><a href="/search?tag={{tag.name}}" class="badge badge-secondary">{{tag.name}}</a></li>
        {% endfor %}
      </ul>
      <h2 class="h5 mt-5">新着画像</h2>
      <hr>
      <div class="grid no-gutters">
        <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
        {% for image_entry in image_entry_list %}
        <div class="grid-item col-6 col-md-4 col-lg-3">
          <a href="/status/{{image_entry.status_id}}/">
          <img src="{{image_entry.media_url}}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true,
  transitionDuration: 0
});
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
</script>
{% endblock %}
