{% extends 'hello/base.html' %}

{% block content %}
<section class="section">
  <div id="app">
    <div class="container mt-5">
      <h2 class="h4">デイリーランキング</h2>
      <p>直近24時間に投稿された収集画像をいいね数順に表示しています。</p>
    </div>
    <hr>
    <div class="container">
      <div class="mb-3">
        <div class="form-check">
          {% if safe %}
          <input type="checkbox" class="form-check-input" id="check_nsfw"
                 v-on:change="changeCheckbox">
          {% else %}
          <input type="checkbox" class="form-check-input" id="check_nsfw"
                 v-on:change="changeCheckbox" checked>
          {% endif %}
          <label class="form-check-label" for="check_nsfw">NSFW画像を表示する</label>
        </div>
      </div>
      <div id="images" class="grid" ref="grid">
        <div class="grid-sizer col-6 col-sm-4 col-md-3 col-lg-2"></div>
        {% for entry in image_entry_list %}
            <div class="grid-item col-6 col-sm-4 col-md-3 col-lg-2">
              <a href="/status/{{entry.status_id}}/">
                <img src="{{entry.media_url}}">
              </a>
            </div>
        {% endfor %}
      </div>
      {% if next_page %}
      <div class="mx-auto mt-4 alert alert-info">
        <a href="{{next_page}}" class="text-center" style="display:block">次のページ</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: 0
  });
  $grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
  });
  $('#show_nsfw').change(function() {
    location.href = "{{ checked_page|safe }}";
  });
</script>
{% endblock %}
