{% extends 'hello/base.html' %}

{% block content %}
<section class="section">
  <div id="app">
    <div class="container my-4">
      <p><span class="badge badge-info">{{tag_name}}</span> の検索結果</p>
      {% if notFound %}
      <p>条件を満たす画像は見つかりませんでした</p>
      {% endif %}
    </div>
    {% if not notFound %}
    <hr>
    <div class="container">
      <div class="grid no-gutters">
        <div class="grid-sizer col-6 col-md-4 col-lg-3"></div>
        {% for image_entry in image_entry_list %}
        <div class="grid-item col-6 col-md-4 col-lg-3">
          <a href="/status/{{image_entry.status_id}}/">
            <img src="{{image_entry.media_url}}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
var $grid = $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true,
  transitionDuration: 0
});
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
</script>
{% endblock %}
