{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% if tag_name %}{% blocktrans %}{{ tag_name }}のイラスト検索結果{% endblocktrans %}{% elif text %}{% blocktrans %}{{ text }}のイラスト検索結果{% endblocktrans %}{% else %}{% trans "全てのイラスト" %}{% endif %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<section class="section">
  <div id="app">
    <div class="container mt-5">
      {% if tag_name or text %}
      {% if tag_name %}
      <h2 class="h4 mb-3">{% blocktrans %}<span class="badge badge-secondary">{{tag_name}}</span> のイラスト検索結果{% endblocktrans %}</h2>
      {% else %}
      <h2 class="h4 mb-3">{% blocktrans %}<span class="font-weight-bold">{{ text }}</span> のイラスト検索結果{% endblocktrans %}</h2>
      {% endif %}
      <p>{% blocktrans %}検索結果: {{ count }}件{% endblocktrans %}</p>
      {% else %}
      <h2 class="h4 mb-3">{% trans "全てのイラスト" %}</h2>
      <p>{% blocktrans %}登録画像数: {{ count }}枚{% endblocktrans %}</p>
      {% endif %}
      {% if notFound %}
      <p>{% trans "条件を満たす画像は見つかりませんでした" %}</p>
      {% endif %}
    </div>
    {% if not notFound %}
    <hr>
    <div class="container">
      <div class="form-group">
        <select class="form-control" id="order">
          <option value="like">{% trans "いいね数が多い順" %}</option>
          <option value="created_at">{% trans "投稿日時が新しい順" %}</option>
          <option value="id">{% trans "データベース登録が新しい順" %}</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          {% if safe %}
          <input type="checkbox" class="form-check-input" id="show_nsfw"> 
          {% else %}
          <input type="checkbox" class="form-check-input" id="show_nsfw" checked>
          {% endif %}
          <label class="form-check-label" for="show_nsfw">{% trans "NSFW画像を表示する" %}</label>
        </div>
      </div>
      <div id="images" class="grid" ref="grid">
        <div class="grid-sizer col-6 col-sm-4 col-md-3 col-lg-2"></div>
        {% for entry in image_entry_list %}
            <div class="grid-item col-6 col-sm-4 col-md-3 col-lg-2">
              <a href="{% url 'status' entry.status_id %}">
                <img src="{{entry.media_url}}">
              </a>
            </div>
        {% endfor %}
      </div>
      <div class="clearfix mt-4">
        {% if previous_page %}
        <a href="{{ previous_page }}" class="btn btn-link float-left">{% trans "&lt;&lt; 前のページ" %}</button>
        {% endif %}
        {% if next_page %}
        <a href="{{ next_page }}" class="btn btn-link float-right">{% trans "次のページ &gt;&gt;" %}</button>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  $(function() {
    {% if order == 'like' %}
      $('#order').val('like');
    {% elif order == 'created_at' %}
      $('#order').val('created_at');
    {% else %}
      $('#order').val('id');
    {% endif %}
  });
  $('#order').change(function() {
    const order = $('#order').val();
    if(order == "like") {
      location.href = "{{ like_order_page|safe }}";
    } else if(order == "created_at") {
      location.href = "{{ created_at_order_page|safe }}";
    } else {
      location.href = "{{ id_order_page|safe }}";
    }
  });
  $('#show_nsfw').change(function() {
    location.href = "{{ checked_page|safe }}";
  });
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
    transitionDuration: 0
  });
  $grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
  });
</script>
{% endblock %}
