{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% trans "ツイート詳細" %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<div id="app">
  <div class="container">
    <h2 class="h5 mt-5"><a href="#" onClick="history.back(); return false;"><span class="icon"><i class="fa fa-arrow-left"></i></span></a>{% trans "ツイート詳細" %}</h2>
    {% if request.user.username == 'kivantium' %}
    <div class="clearfix">
      <div class="float-right">
        <span>{% for b in is_illust %} {% if b %} True {% else %} False {% endif %} {% endfor %}</span>
        <a class="btn btn-danger" href="{% url 'delete' status_id %}">削除する</a>
        <a class="btn btn-success" href="{% url 'add' status_id %}">追加する</a>
      </div>
    </div>
    {% endif %}
    <hr>
    <ul class="list-inline">
      {% for tag in hashtags %}
      <li class="list-inline-item"><a href="{% url 'search' %}?tag={{tag.name_escape}}" class="badge badge-info">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <ul>
      {% for i2vtags in i2vtags_list %}
      <li>
        <ul class="list-inline">
          {% for tag in i2vtags %}
          <li class="list-inline-item"><a href="{% url 'search' %}?tag={{tag.name_escape}}" class="badge badge-secondary">{{tag.name}}</a></li>
          {% empty %}
          <li class="list-inline-item"><span class="badge badge-warning">No Data</span></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <blockquote class="twitter-tweet tw-align-center" data-conversation="none"><a href="https://twitter.com/user/status/{{status_id}}"></a></blockquote>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="mt-4 clearfix">
      <a href="{% url 'author' screen_name %}" class="float-left">{% blocktrans %}@{{ screen_name }}さんのイラストをもっと見る{% endblocktrans %}</a>
    </div>
    <div class="my-5">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="horizontal"
           data-ad-client="ca-pub-2828660212063348"
           data-ad-slot="4211442369"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <hr>
    <p>{% trans "このツイートがイラストを含まない場合は報告してください" %}</p>
    <button type="button" id="report" class="btn btn-danger">{% trans "報告する" %}</button>
    <hr>
    <h3 class="h6 mt-5">{% trans "タグについて" %}</h3>
    <ul>
      <li>{% blocktrans %}<span class="badge badge-info">水色のタグ</span> はツイートに含まれるハッシュタグを表します。{% endblocktrans %}</li>
      <li>{% blocktrans %}<span class="badge badge-secondary">灰色のタグ</span> はIllustration2Vecを用いて推定したタグを表します。画像ごとにタグ付けしているため、画像が複数ある場合は複数行表示します。{% endblocktrans %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script%}
<script>
  $('#report').click(function() {
    if(confirm('{% trans "このツイートを報告しますか？" %}')) {
      $.ajax({
        url:'{% url 'report'  status_id %}',
        type:'GET',
      })
        .done( (data) => {
          alert('{% trans "報告が完了しました。ご協力ありがとうございます。" %}');
        })
        .fail( (data) => {
          alert('{% trans "報告に失敗しました。" %}');
        })
    } else {
      return false;
    }
  });
</script>
{% endblock %}
