{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}{% trans "ツイート詳細" %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block meta %}
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="app">
  <div class="container">
    <h2 class="h5 mt-5"><a href="#" onClick="history.back(); return false;"><span class="icon"><i class="fa fa-arrow-left"></i></span></a>{% trans "ツイート詳細" %}</h2>
    {% if i2vtags_list %}
    {% if request.user.username == 'kivantium' %}
    <div class="clearfix">
      <div class="float-right">
        <span>{% for b in is_illust %} {% if b %} True {% else %} False {% endif %} {% endfor %}</span>
        <a class="btn btn-danger" href="{% url 'delete' status_id %}">削除する</a>
        <a class="btn btn-success" href="{% url 'add' status_id %}">追加する</a>
      </div>
    </div>
    {% endif %}
    <hr>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'author' screen_name %}" class="badge badge-primary">@{{ screen_name }}</a></li>
      {% for tag in hashtags %}
      <li class="list-inline-item"><a href="{% url 'search' %}?tag={{tag.name_escape}}" class="badge badge-info">{{tag.name}}</a></li>
      {% endfor %}
      {% for tag in usertags %}
      <li class="list-inline-item"><a href="{% url 'search' %}?tag={{tag.name_escape}}" class="badge badge-success">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <ul>
      {% for i2vtags in i2vtags_list %}
      <li>
        <ul class="list-inline">
          {% for tag in i2vtags %}
          <li class="list-inline-item"><a href="{% url 'search' %}?tag={{tag.name_escape}}" class="badge badge-secondary">{{tag.name}}</a></li>
          {% empty %}
          <li class="list-inline-item"><span class="badge badge-warning">No Data</span></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <hr>
    <p>新しいツイートのため情報を取得中です。数秒待ってから更新してください。</p>
    {% endif %}
    <blockquote class="twitter-tweet tw-align-center" data-conversation="none"><a href="https://twitter.com/user/status/{{status_id}}"></a></blockquote>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% if i2vtags_list %}
    <div class="mt-4 clearfix">
      <a href="{% url 'author' screen_name %}" class="float-left">{% blocktrans %}@{{ screen_name }}さんのイラストをもっと見る{% endblocktrans %}</a>
    </div>
    {% endif %}
    <div class="d-none d-md-block my-5">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="horizontal"
           data-ad-client="ca-pub-2828660212063348"
           data-ad-slot="4211442369"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <hr>
    <h4 class="h6">タグを追加する</h4>
    <form action="{% url 'add_tag' status_id %}" method="post" class="form-inline">
      {% csrf_token %}
      <input type="text" name="tag_name" id="tag_name" class="form-control">
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
    <hr>
    <p>{% trans "この画像の情報が間違っている場合は報告してください" %}</p>
    <form action="{% url 'report' status_id %}" method="post" id="report-form">
      {% csrf_token %}
      <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="report_type" id="radio_illust" value="not_illust" checked>
        <label class="form-check-label" for="radio_illust">{% trans "この画像はイラストではありません" %}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="report_type" id="radio_nsfw" value="not_safe">
        <label class="form-check-label" for="radio_nsfw">{% trans "この画像はNSFWです" %}</label>
      </div>
      </div>
      <button type="submit" id="report" class="btn btn-danger">{% trans "報告する" %}</button>
    </form>
    <hr>
    <h3 class="h6 mt-5">{% trans "タグについて" %}</h3>
    <ul>
      <li>{% blocktrans %}<span class="badge badge-info">水色のタグ</span> はツイートに含まれるハッシュタグを表します。{% endblocktrans %}</li>
      <li>{% blocktrans %}<span class="badge badge-secondary">灰色のタグ</span> はIllustration2Vecを用いて推定したタグを表します。画像ごとにタグ付けしているため、画像が複数ある場合は複数行表示します。{% endblocktrans %}</li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script%}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script>
  $('#tag_name').autocomplete({
    source: [{% for tag in all_usertags %}'{{ tag.name }}', {% endfor %}],
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });


  $("#report-form").on("submit", function(event) {
    if(confirm('{% trans "このツイートを報告しますか？" %}')) {
      var csrftoken = getCookie('csrftoken');
      event.preventDefault();
      $.ajax({
        type: "POST",
        url:'{% url 'report'  status_id %}',
        data: {
          "report_type": $('input:radio[name="report_type"]:checked').val()
        },
        contentType: "application/json",
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      })
        .done( (data) => {
          alert('{% trans "報告が完了しました。ご協力ありがとうございます。" %}');
        })
        .fail( (data) => {
          alert('{% trans "報告に失敗しました。" %}');
        })
    } else {
      return false;
    }
    return false;
  });
</script>
{% endblock %}
