{% extends 'hello/base.html' %}
{% load i18n %}

{% block page_title%}{% block twitter_title %}{% block og_title %}@{{ screen_name }}{% trans "さんのイラスト一覧" %} - {% trans "にじさーち" %}{% endblock %}{% endblock %}{% endblock %}

{% block meta %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    {% if notFound %}
    <h2 class="h4 mt-5">{% trans "絵師検索" %}</h2>
    <p>{% blocktrans %}@{{ screen_name }}の情報を取得できませんでした。アカウントが存在しない可能性があります。{% endblocktrans %}</p>
    <a href="{% url 'author_search' %}" class="btn btn-primary">{% trans "検索画面に戻る" %}</a>
    {% elif isPrivate %}
    <h2 class="h4 mt-5">{% trans "絵師検索" %}</h2>
    <p>{% blocktrans %}@{{ screen_name }}は非公開アカウントです。{% endblocktrans %}</p>
    <a href="{% url 'author' %}" class="btn btn-primary">{% trans "検索画面に戻る" %}</a>
    {% else %}
    <div class="row my-4 justify-content-center">
      <div class="col-3 col-lg-2">
        <a href="https://twitter.com/{{ screen_name }}">
          <img src=" {{ profile_photo }}" class="img-thumbnail img-fluid rounded-circle" 
                                          alt="profile photo">
        </a>
      </div>
      <div class="w-100"></div>
      <div class="col mt-3 text-center"><h2 class="h5">{{ name }}</h2></div>
      <div class="w-100"></div>
      <div class="col text-center text-secondary">@{{ screen_name }}</div>
    </div>
    <div class="d-none d-md-block my-5">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block; text-align:center;"
           data-ad-layout="in-article"
           data-ad-format="horizontal"
           data-ad-client="ca-pub-2828660212063348"
           data-ad-slot="4211442369"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <ul class="nav nav-tabs justify-content-center mb-4">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'author' screen_name %}">{% trans "登録済みの画像" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'tweets' screen_name %}">{% trans "最近の画像ツイート(&beta;)" %}</a>
      </li>
    </ul>
    {% if request.user.is_authenticated %}
    <div id="tweets" class="row"></div>
    <div class="text-center">
      <p id="page_number"></p>
    <button type="button" id="ajax_next" class="btn btn-primary">次のページ</button>
    </div>
    {% else %}
    <div class="container">
      <div class="row">
        {% for tweet in tweet_list %}
        <div class="col-12 col-md-6 col-lg-4 mb-5 text-center">
          <blockquote class="twitter-tweet" data-conversation="none"><a href="https://twitter.com/user/status/{{ tweet.tweetId }}"></a></blockquote>
          {% if tweet.registered %}
          <span class="mt-3 btn btn-secondary">{% trans "登録済み" %}</a>
          {% else %}
          <a href="{% url 'status' tweet.tweetId %}" class="mt-3 btn btn-success">{% trans "登録する" %}</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
      <p>{% trans "もっと見るにはログインが必要です" %}</p>
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'social:begin' 'twitter' %}'">
        <span class="icon"><i class="fab fa-twitter"></i></span><span> Twitterでログイン</span>
      </button>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% if request.user.is_authenticated %}
<script>
  function loadNextPage() {
    $.ajax({
      'url': "{% url 'ajax_tweets' screen_name %}?page="+String(next_page),
      'type': 'GET',
    }).done( (res) => {
      if(res.status == 'OK') {
      res.tweet_list.forEach(tweet => {
        var col = '<div class="col-12 col-md-6 col-lg-4 mb-5 text-center">\n'
        col += '<blockquote class="twitter-tweet" data-conversation="none">'
        col += '<a href="https://twitter.com/user/status/'+ tweet.id_str + '"></a></blockquote>\n';
        if(tweet.registered) {
          col += '<span class="mt-3 btn btn-secondary">{% trans "登録済み" %}</a>';
        } else {
          col += '<a href="/status/' + tweet.id_str + '/" target="_blank" class="mt-3 btn btn-success">{% trans "登録する" %}</a>'
        }
        col += '</div>'
        $('#tweets').append(col);
      });
      twttr.widgets.load(); 
      $('#page_number').text(String(next_page)+'ページ')
      next_page += 1;
      } else {
        $('#page_number').text('読み込みに失敗しました: ' + res.status)
      }
    });
  }

  $(function() {
    next_page = 1;
    loadNextPage();
  });

  $('#ajax_next').click(function() {
    loadNextPage();
  });
</script>
{% endif %}
{% endblock %}
